.topImageSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: -97px;
  padding-top: 97px;
  box-sizing: border-box;
  width: 100%;
  &:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $topGradient, rgba(97, 109, 123, 0.7);
    background-blend-mode: multiply, normal;
  }
  .topImageWrapper {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    width: 290px;
    @include minWidth(480) {
      width: 410px;
    }
    @include minWidth(768) {
      width: 680px;
    }
    @include minWidth(1000) {
      width: 800px;
    }
    @include minWidth(1440) {
      width: 900px;
    }
    .topImageHeader {
      margin: 0;
      font-size: 17px;
      line-height: 125%;
      color: $white;
      text-align: center;
      @include minWidth(480) {
        font-size: 25px;
      }
      @include minWidth(768) {
        font-size: 35px;
        text-align: left;
      }
      @include minWidth(1000) {
        font-size: 45px;
      }
      .nobr {
        white-space: nowrap;
      }
    }
    .topImageText {
      margin-bottom: 20px;
      font-size: 11px;
      font-weight: 500;
      line-height: 125%;
      color: $white;
      letter-spacing: 0.05em;
      @include minWidth(480) {
        font-size: 12px;
      }
      @include minWidth(768) {
        font-size: 15px;
      }
      @include minWidth(1000) {
        font-size: 18px;
      }
    }
    .topImageButtonsWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: inherit;

      @include minWidth(768) {
        flex-direction: row;
        justify-content: flex-start;
      }
      .scheduleWrapper {
        @include minWidth(768) {
          margin-right: 20px;
        }
        .consultationButton {
          @extend %yellowButton;
          // background-color: #FAC04B;
          color: #fff;
          padding: 10px;
          border-radius: 30px;
          // width: 435px;
          padding-inline: 20px;
          // height: 50px;
          border: none;
          // margin-top: 10px;
          text-align: center;
          font-weight: 700;
          font-size: 13px;

          @include maxWidth(480) {
            font-size: 9px;
            padding: 7px 10px;
          }
        }
      }
      .button.quote {
        margin: 8px 0 0;
        @include minWidth(480) {
          margin-top: 20px;
        }
        @include minWidth(768) {
          margin-top: 0;
        }
      }
    }
    .breadcrumbs {
      margin-top: 5px;
      top: 0;
      position: absolute;
      left: 0;
      opacity: 0.7;
    }
  }
}

.topImageSection.homeSection {
  height: 420px;
  @include minWidth(480) {
    height: 560px;
  }
  @include minWidth(1000) {
    height: 720px;
  }
  .topImageWrapper {
    padding: 60px 0;
    @include minWidth(480) {
      padding: 75px 0;
    }
    @include minWidth(768) {
      padding: 110px 0;
    }
    @include minWidth(1000) {
      padding: 170px 0;
    }
  }
  .topImageText {
    @include minWidth(480) {
      margin-bottom: 40px;
    }
  }
}

.topImageSection.localSection {
  height: 420px;
  @include minWidth(480) {
    height: 560px;
  }
  @include minWidth(1000) {
    height: 720px;
  }
  .topImageWrapper { 
    @media (max-width:480px) {
      padding-top:15px;
    }
  }
  .topImageText {
    margin-bottom: 0;
    @include minWidth(1440) {
      padding-right: 30px;
    }
    p {
      margin-bottom: 0;
    }
  }

  @keyframes pulsation {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
      box-shadow: 0 0 0 0.7vh rgba(255, 255, 255, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  .localContent {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-size: cover;

    .plusWrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      width: inherit;
      @include minWidth(768) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 auto;
      }
    }
    .plusList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      padding-left: 0;
      justify-content: space-between;
      list-style-type: none;
      width: inherit;
      @include minWidth(768) {
        margin: 0;
      }

      .plusItem {
        margin: 0 0 20px;
        text-align: center;
        color: $white;
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
          width: 100px;
        }
        @media (min-width: 1000px) {
          width: 125px;
        }

        .iconsWrapper {
          width: 45px;
          height: 45px;
          @media (min-width: 768px) {
            width: 100px;
            height: 100px;
          }
          @include minWidth(1000) {
            width: 125px;
            height: 125px;
          }
        }
        .plusIcon {
          position: relative;
          margin: 0 auto;
          animation: pulsation 2.5s linear infinite;
          box-sizing: border-box;
          border: 1px solid $white;
          border-radius: 100px;
          cursor: pointer;
          width: inherit;
          height: inherit;

          &:hover {
            border-color: $yellow;
            .iconLogo {
              background-color: $yellow;
            }
            .iconText {
              color: $yellow;
            }
          }
          &:hover + .plusAdditional {
            color: $yellow;
          }
          .iconLogo {
            @extend %animation;
            @extend %shadow2;
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            background-color: $white;
          }
          .iconText {
            @extend %animation;
            @extend %textShadow;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            font-weight: 600;
            font-size: 8px;
            line-height: 100%;
            @include minWidth(480) {
              font-size: 12px;
            }
            @include minWidth(1000) {
              font-size: 15px;
            }
          }
          &.topRated {
            .iconLogo {
              @extend %faq4Icon;
              //margin-top: -15px;
              transform: translate(-50%, -50%) scale(0.69);
              @media (min-width: 767px) {
                margin-top: -10px;
                transform: translate(-50%, -50%);
              }
            }
            .iconText {
              margin-top: 50px;

              @media (min-width: 767px) {
                margin-top: 70px;
              }
            }
          }
          &.experience {
            .iconLogo {
              @extend %faq15Icon;
              transform: translate(-50%, -50%) scale(0.59);
              @media (min-width: 767px) {
                margin-top: -25px;
                transform: translate(-50%, -50%) scale(1);
              }
            }
            .iconText {
              margin-top: 50px;
              @include minWidth(480) {
                margin-top: 50px;
              }
              @include minWidth(1000) {
                margin-top: 65px;
              }
            }
          }
          &.tv {
            .iconLogo {
              mask-image: url("/public/images/vector/tv_icon.svg");
              mask-size: contain;
              margin-top: 5px;
              width: 50px;
              height: 50px;
              transform: translate(-50%, -50%) scale(0.58);
              box-shadow: none;
              mask-repeat: no-repeat;
              @media (min-width: 767px) {
                margin-top: -15px;
                transform: translate(-50%, -50%) scale(1);
              }
              // @include minWidth(767) {
              //   margin-top: -15px;
              //   transform: translate(-50%, -50%) scale(1);
              // }
            }
            .iconText {
              margin-top: 50px;
              @include minWidth(480) {
                margin-top: 50px;
              }
              @include minWidth(1000) {
                margin-top: 65px;
              }
            }
          }
          &.awardWinning {
            .iconLogo {
              mask-image: url("/public/images/vector/white_cup.svg");
              mask-size: contain;
              width: 50px;
              height: 50px;
              transform: translate(-50%, -50%) scale(0.58);
              margin-left: 0px;
              box-shadow: none;
              @media (min-width: 767px) {
                margin-top: 20px;
                transform: translate(-50%, -50%) scale(1);
              }
            }
            .iconText {
              margin-top: 50px;
              @media (min-width: 767px) {
                margin-top: 13px;
              }
            }
          }
          &.financing {
            .iconLogo {
              @extend %faq9Icon;
              transform: translate(-50%, -50%) scale(0.58);
              @media (min-width: 767px) {
                margin-top: -25px;
                transform: translate(-50%, -50%) scale(1);
              }
            }
            .iconText {
              margin-top: 50px;
              @include minWidth(480) {
                margin-top: 52px;
              }
              @media (min-width: 767px) {
                margin-top: 65px;
              }
            }
          }
          &.learnMore {
            .iconLogo {
              mask-image: url("/public/images/vector/magnifying_glass.svg");
              mask-size: contain;
              mask-repeat: no-repeat;
              margin-top: 3px;
              width: 50px;
              height: 50px;
              transform: translate(-50%, -50%) scale(0.58);
              margin-left: 0px;
              box-shadow: none;

              @media (min-width: 767px) {
                margin-top: -10px;
                transform: translate(-50%, -50%) scale(1);
              }
            }
            .iconText {
              margin-top: 50px;

              @include minWidth(1000) {
                margin-top: 73px;
              }
            }
          }
        }
        .plusAdditional {
          @extend %textShadow2;
          @media (max-width: 767px) {
            display: none;
          }
          margin: 10px 0 0;
          font-weight: 500;
          @include minWidth(480) {
            font-size: 9px;
            line-height: 125%;
          }
          @include minWidth(1000) {
            margin-top: 15px;
            font-size: 12px;
          }
          .nobr {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.swiper-container {
   position: absolute !important;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 0;
}

  .swiper-wrapper{
    flex-direction: row;
  }
  .swiper-slide {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.top-image-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 4px 2px 2px 2px;
  background-color: $white;
  width: 100%;

  // Mobile first approach using media queries
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    height: inherit;
  }

  @media screen and (max-width: 591px) {
    padding: 2.5px;
    gap: 2.5px;
  }

  .slider-container {
    flex-grow: 1;
    background-color: $white;
    width: 50%;
    padding-top: 50%;
    position: relative;
    z-index: 0;
    height: 0;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    @media screen and (max-width: 591px) {
      padding-top: 100%;
    }

    @include maxWidth(432) {
      height: 445px;
    }
  }
  
  .right-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 2px;
    background-color: $white;
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    @media screen and (max-width: 591px) {
      display: flex;
      flex-direction: column;
      gap: 2.5px;

      .brief-description-board {
        padding-top: 0;
        height: auto;
      }
    }

    @include maxWidth(432) {
      .brief-description-board {
        .context {
          font-size: 15px;
        }

        .title-wrapper {
          font-size: 32px;
        }

        .topImageButtonsWrapper {
          padding-bottom: 10px;
        }
      }
    }

    &>div {
      width: 100%;
      height: 0;
      padding-top: 100%;
      position: relative;
    }

    &>div>picture {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include maxWidth(767) {
      display: flex;
      flex-direction: column;
    }

    @include minWidth(830) {
      .brief-description-board {
        .context {
          font-size: 18px;
        }

        .title-wrapper {
          font-size: 36px;
        }
      }
    }

    @include minWidth(768) {
      .brief-description-board {
        .context {
          font-size: 18px;
        }

        .title-wrapper {
          font-size: 36px;
        }

      }
    }

    .brief-description-content {
      padding-inline: 15px;

      @media screen and (max-width: 1700px) and (min-width: 1201px){
        padding-inline: 10px;
      }

      @media screen and (max-width: 767px) and (min-width: 592px) {
        padding-inline: 7px;
      }
    }


    .brief-description-board>.brief-description-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: $main;
      color: $white;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      @media screen and (max-width: 591px) {
        position: static;
      }

      .title-wrapper {
        padding: 15px 0;
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;

        @media screen and (max-width: 1700px) and (min-width: 1201px){
          padding: 10px 0;
          
        }

        @media screen and (max-width: 1640px) and (min-width: 1201px){
          line-height: 1.8vw !important;
          font-size: 2.1vw;
        }

        @media screen and (max-width: 1215px) and (min-width: 1201px){
          font-size: 2.07vw;
          line-height: 2.1vw;
        }

        @media screen and (max-width: 900px) and (min-width: 592px) {
          font-size: 4.1vw;
          line-height: 3.3vw;
          padding: 10px 0;
        }

        @media screen and (max-width: 767px) and (min-width: 592px) {
          padding: 5px 0;
        }

        @media screen and (max-width: 425px) {
          font-size: calc(7.5vw);
          line-height: calc(8vw);
        }

        .title1 {
          padding-bottom: 10px;
        }
      }

      .context {
        font-size: 18px;
        line-height: 24px;
        width: 100%;
        @media screen and (max-width: 1740px) and (min-width: 1200px){
          min-height: 24px;
        }

        @media screen and (max-width: 1700px) and (min-width: 1640px){
          font-size: 17px;
        }

        @media screen and (max-width: 1640px) and (min-width: 1480px){
          font-size: 16px;
        }

        @media screen and (max-width: 1480px) and (min-width: 1200px){
          font-size: 14px !important;
        }

        @media screen and (max-width: 1300px) and (min-width: 1200px) {
          line-height: 20px;
        }

        @media screen and (max-width: 1290px) and (min-width: 1200px) {
          font-size: 14px !important;
        }

        @media screen and (max-width: 1200px) and (min-width: 900px) {
          line-height: 28px;
        }

        @media screen and (max-width: 900px) and (min-width: 592px) {
          font-size: 16px;
          line-height: 24px;
        }

        @media screen and (max-width: 767px) and (min-width: 592px) {
          // font-size: 14px;
          // line-height: 20px;
          font-size: 2.3vw;
          line-height: 3.3vw;
        }

        @media screen and (max-width: 374px) {
          font-size: 4.3vw;
          line-height: 6.3vw;
        }
      }

      .view-portfolio {
        font-weight: 700;
        font-size: 16px;
        color: $white;
        padding: 10px 0 5px 0px;

        @media screen and (max-width: 1480px) and (min-width: 1200px){
          padding: 10px 0 0 0;
        }

        @media screen and (max-width: 1300px) and (min-width: 1201px) {
          font-size: 14px;
          padding: 5px 0 0 0;
        }

        // @media screen and (max-width: 1200px) and (min-width: 900px) {
        //   line-height: 28px;
        // }

        @media screen and (max-width: 374px) {
          font-size: 5vw;
        }
      }

      .topImageButtonsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;
        padding: 15px 0;

        .consultationButton {
          @extend %yellowButton;
          color: #fff;
          padding: 10px;
          border-radius: 30px;
          height: 50px;
          border: none;
          margin-top: 13px;
          text-align: center;
          font-weight: 700;
          font-size: 13px;
          width: 100%;

          @media screen and (min-width: 1500px) {
            margin-top: 0.68vw;
          }

          @media screen and (max-width:1740px) and (min-width:1500px) {
            height: 2.6vw;
          }

          @media screen and (max-width:1500px) and (min-width:1300px) {
            height: 50px;
          }

          @media screen and (max-width: 1300px) and (min-width: 1200px) {
            height: 40px;
          }

          @media screen and (max-width: 900px) and (min-width: 592px) {
            height: 5.3vw;
          }

          @media screen and (max-width: 767px) and (min-width: 592px) {
            padding: 0;
            margin-top: 0;
          }

          @media screen and (max-width: 374px) {
            height: 11.5vw;
            font-size: 4vw;
          }

        }

        .button.quote {
          padding: 10px;
          border-radius: 30px;
          height: 50px;
          border: none;
          margin-top: 10px;
          text-align: center;
          font-weight: 700;
          font-size: 13px;
          margin: 8px 0 0;
          width: 100%;

          // @include minWidth(480) {
          //   margin-top: 20px;
          // }

          @include minWidth(768) {
            margin-top: 0;
          }

          @media screen and (max-width:1740px) and (min-width:1500px) {
            height: 2.6vw;
            padding: 10px 0;
          }

          @media screen and (max-width:1500px) and (min-width:1300px) {
            height: 50px;
          }

          @media screen and (max-width: 1300px) and (min-width: 1200px) {
            height: 40px;
          }

          @media screen and (max-width: 900px) and (min-width: 592px) {
            height: 5.3vw;
          }

          @media screen and (max-width: 374px) {
            height: 11.5vw;
            font-size: 4vw;
          }
        }

        @media screen and (max-width: 1700px) {
          padding: 10px 0;
        }

        @media screen and (max-width: 1500px) and (min-width: 1200px) {
          flex-direction: row;
          justify-content: space-between;

          .consultationButton {
            margin-top: 0;
            width: 49%;
            font-size: 11px;
            text-wrap: auto;
          }

          .button.quote {
            margin-top: 0;
            margin-left: 0px;
            width: 49%;
            font-size: 11px;
            text-wrap: auto;
          }
          
        }

        @media screen and (max-width: 1300px) and (min-width: 1200px) {
          padding: 6px 0; 
        }

        @media screen and (max-width: 767px) and (min-width: 592px) {
          flex-direction: row;
          justify-content: space-between;

          .consultationButton {
            margin-top: 0;
            width: 49%;
            font-size: 11px;
            text-wrap: auto;
          }

          .button.quote {
            margin-top: 0;
            margin-left: 0px;
            width: 49%;
            font-size: 11px;
            text-wrap: auto;
          }
          
        }

      }
    }
  }

  @include maxWidth(767) {
    padding: 10px;
    gap: 2.5px;

    .right-container {
      gap: 2.5px;
    }
    .right-container>div, .slider-container {
      height: 451px;
    }
  }

  @media screen and (max-width: 520) {
    
  }
}
