.pageHeader {
  &.servicesPage {
    border: none;

    *.wrapper {
      @media (max-width: 500px) {
        width: 350px;
        max-width: 400px;
      }
    }
    *.servicesText {
      font-weight: 800;
      font-size: 10px;
      @media (min-width: 480px) {
        font-size: 17px;
      }
      @media (min-width: 1000px) {
        font-size: 22px;
      }

      color: rgba(33, 44, 48, 1);
    }
  }
}
.servicesCategories {
  margin-top: -100px;

  *.whiteBorder {
    border: 2px solid $white;
  }
  *.serviceCategoryImage {
    @extend %circle;
    @extend %shadow;
    display: block;
    margin-bottom: 6px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    @media (min-width: 480px) {
      width: 60px;
      height: 60px;
    }
    @media (min-width: 760px) {
      width: 120px;
      height: 120px;
    }
    @media (min-width: 1000px) {
      width: 160px;
      height: 160px;
    }
    @media (min-width: 1440px) {
      width: 182px;
      height: 182px;
    }
  }
  *.categoryLabel {
    line-height: 125%;
    text-align: center;
  }
}

.servicesMain {
  position: relative;

  *.header {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 800;
  }

  *.card {
    background: #f0f0f0;
    margin-right: 9px;
    margin-bottom: 9px;

    .text {
      margin: 10px 0 0 0;
      .title {
        font-size: 18px;
        line-height: 22px;
      }
      .description {
        color: rgba(131, 131, 131, 1);
      }
      .footer {
        margin: 0;
        color: rgba(0, 0, 0, 0.49);
      }
    }
  }
}

.servicesFooter {
  background: $sub;
}

.pageHeader {
  background: $white;
  border-bottom: 1px solid $sub;
  .contentWrapper {
    position: relative;
  }
  .pageTitle {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 100%;
    font-weight: 800;
    text-transform: uppercase;
    @include minWidth(480) {
      font-size: 25px;
    }
    @include minWidth(768) {
      font-size: 35px;
    }
  }
  .headerPicture {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 43px;
    box-sizing: border-box;
    min-height: 144px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: $white;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    @include minWidth(480) {
      padding-top: 44px;
      font-size: 25px;
      min-height: 181px;
    }
    @include minWidth(768) {
      padding-top: 47px;
      font-size: 35px;
      min-height: 234px;
    }
    @include minWidth(1000) {
      padding-top: 70px;
      font-size: 45px;
      min-height: 283px;
    }
  }
  .picturePageTitle {
    margin-top: 35px;
    margin-bottom: 0;
    color: $white;
  }
  .categoryList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    .categoryLink {
      @extend %animation;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $black;
      .categoryImage {
        display: block;
        @extend %circle;
        @extend %shadow;
        margin-bottom: 5px;
        @include minWidth(480) {
          margin-bottom: 8px;
        }
        @include minWidth(1000) {
          margin-bottom: 10px;
        }
        &.coverImage {
          background-color: $ghostWhite;
          background-image: url("/public/images/vector/default-image.svg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 80px;
          @include minWidth(480) {
            background-size: 100px;
          }
          @include minWidth(768) {
            background-size: 120px;
          }
        }
      }
    }
  }
  .subCategoriesWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .pageTitleWrapper {
      padding-right: 30px;
    }
    .categoriesListWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .subCategoriesHeader {
        margin-top: 0;
        margin-bottom: 0;
        color: $grey;
        font-size: 7px;
        @include minWidth(480) {
          margin-bottom: 5px;
          font-size: 9px;
        }
        @include minWidth(768) {
          font-size: 11px;
        }
      }
    }
  }
  &.mainCategories {
    .categoryList {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: -65px auto 0;
      width: 291px;
      @include minWidth(480) {
        margin-top: -105px;
        width: 439px;
      }
      @include minWidth(768) {
        margin-top: -150px;
        width: 697px;
      }
      @include minWidth(1000) {
        margin-top: -160px;
        width: 765px;
      }
    }
    .categoryWrapper {
      width: 85px;
      @include minWidth(480) {
        width: 131px;
      }
      @include minWidth(768) {
        width: 209px;
      }
    }
    .categoryLink {
      @extend %animation;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 107.5%;
      font-weight: 800;
      text-align: center;
      @include minWidth(480) {
        font-size: 18px;
      }
      @include minWidth(768) {
        font-size: 30px;
      }
      &:hover {
        color: $blue;
      }
      .categoryImage {
        width: inherit;
        height: 85px;
        border: 2px solid $white;
        @include minWidth(480) {
          width: inherit;
          height: 131px;
          border: 3px solid $white;
        }
        @include minWidth(768) {
          width: inherit;
          height: 209px;
          border: 5px solid $white;
        }
      }
    }
  }
  &.middleCategories {
    .wrapper {
      padding-bottom: 15px;
      @media (max-width: 480px) {
        max-width: unset;
      }
    }
    .categoriesCarousel {
      //margin-top: 15px;
      @include minWidth(1000) {
        width: 968px;
      }
      @include minWidth(1440) {
        width: 1032px;
      }
      .categoriesActionWrapper {
        @include minWidth(1000) {
          width: 820px;
        }
        @include minWidth(1440) {
          width: 979px;
        }
      }
    }
  }
  &.subCategories {
    .subCategoriesWrapper {
      display: flex;
      flex-direction: column;
      @include minWidth(768) {
        flex-direction: row;
      }
    }
    .pageTitleWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .pageTitleImage {
        @extend %circle;
        @extend %shadow;
        margin-right: 15px;
        width: 70px;
        height: 70px;
        border: 2px solid $white;
        @include minWidth(480) {
          margin-right: 20px;
          width: 76px;
          height: 76px;
        }
        @include minWidth(768) {
          width: 120px;
          height: 120px;
          border: 5px solid $white;
        }
        @include minWidth(1440) {
          width: 130px;
          height: 130px;
        }
        &.coverImage {
          background-color: $ghostWhite;
          background-image: url("/public/images/vector/default-image.svg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 180px;
        }
      }
    }
    .categoriesListWrapper {
      display: flex;
      flex-direction: column;
      .subCategoriesHeader {
        margin-bottom: 10px;
      }
    }
    .categoryList {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .categoryWrapper {
        margin-left: 3px;
        width: 50px;
        @include minWidth(480) {
          width: 50px;
        }
        @include minWidth(768) {
          width: 80px;
        }
        @include minWidth(1000) {
          width: 85px;
        }
        &:first-of-type {
          margin-left: 0;
        }
        .categoryTitle {
          text-align: center;
          line-height: 125%;
        }
        &.activeCategory {
          .categoryImage {
            filter: opacity(30%);
          }
        }
      }
    }
    .categoryLink {
      font-size: 7px;
      &:hover {
        color: $blue;
      }
      @include minWidth(768) {
        font-size: 10px;
      }
      .categoryImage {
        width: 47px;
        height: 47px;
        border: 1px solid $white;
        @include minWidth(768) {
          width: 74px;
          height: 74px;
        }
        @include minWidth(1440) {
          width: 79px;
          height: 79px;
        }
      }
    }
  }
}

.webp .headerPicture {
  background-image: $headerGradient,
    url("/public/images/services-header_480.webp");
  @include minWidth(480) {
    min-height: 181px;
    background-image: $headerGradient,
      url("/public/images/services-header_768.webp");
  }
  @include minWidth(768) {
    min-height: 234px;
    background-image: $headerGradient,
      url("/public/images/services-header_1000.webp");
  }
  @include minWidth(1000) {
    min-height: 283px;
    background-image: $headerGradient,
      url("/public/images/services-header_1440.webp");
  }
  @include minWidth(1440) {
    background-image: $headerGradient,
      url("/public/images/services-header.webp");
  }
}

.no-webp .headerPicture {
  background-image: $headerGradient,
    url("/public/images/services-header_480.jpg");
  @include minWidth(480) {
    min-height: 181px;
    background-image: $headerGradient,
      url("/public/images/services-header_768.jpg");
  }
  @include minWidth(768) {
    min-height: 234px;
    background-image: $headerGradient,
      url("/public/images/services-header_1000.jpg");
  }
  @include minWidth(1000) {
    min-height: 283px;
    background-image: $headerGradient,
      url("/public/images/services-header_1440.jpg");
  }
  @include minWidth(1440) {
    background-image: $headerGradient, url("/public/images/services-header.jpg");
  }
}

.singleService {
  *.contentTextarea {
    h2 {
      margin-top: 0;
    }
    h3 {
      margin-top: 0;
    }
    h4 {
      margin-top: 0;
    }
  }
  *.picturesWrapper {
    display: flex;
    flex-direction: column;
    @include minWidth(1000) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0px;
      padding-bottom: 0px;
    }
    .pictureFull {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 190px;
      @include minWidth(480) {
        //min-height: 290px;
      }
      @include minWidth(768) {
        //min-height: 430px;
      }
      @include minWidth(1000) {
        width: 648px;
        //min-height: 554px;
      }
      @include minWidth(1440) {
        width: 704px;
        //min-height: 590px;
      }
      .fullsizePictureLink {
        cursor: zoom-in;
      }
      .fullsizePicture {
        @extend %animation;
        @extend %shadow;
        opacity: 1;
        max-width: 290px;
        max-height: 290px;
        @include minWidth(480) {
          max-width: 440px;
          max-height: 440px;
        }
        @include minWidth(768) {
          max-width: 644px;
          max-height: 644px;
        }
        @include minWidth(1000) {
          max-width: 648px;
          max-height: 648px;
        }
        @include minWidth(1440) {
          max-width: 704px;
          max-height: 704px;
        }
        &.hiddenPicture {
          opacity: 0;
        }
      }
      .fullsizeLoader {
        @extend %animation;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-image: url("/public/images/vector/load-icon_grey.svg");
        background-size: 24px 24px;
        @include minWidth(1000) {
          width: 36px;
          height: 36px;
          background-size: 36px 36px;
        }
        &.hiddenLoader {
          opacity: 0;
        }
      }
    }
    .portfolioPreviews {
      // margin-top: 20px;
      // @include minWidth(1000) {
      //     margin-top: 60px;
      // }
      .previewList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -2px;
        padding-left: 0;
        list-style-type: none;
        @include minWidth(480) {
          margin: 0 -4px;
        }
        @include minWidth(768) {
          margin: 0 -2px;
        }
        .previewWrapper {
          margin: 0 2px 2px;
          @include minWidth(480) {
            margin: 0 4px 4px;
          }
          @include minWidth(768) {
            margin: 0 2px 2px;
          }
          .previewImage {
            @extend %animation;
            width: 38px;
            height: 38px;
            cursor: pointer;
            @include minWidth(480) {
              width: 56px;
              height: 56px;
            }
            @include minWidth(768) {
              width: 50px;
              height: 50px;
            }
            @include minWidth(1000) {
              width: 62px;
              height: 62px;
            }
            @include minWidth(1440) {
              width: 71px;
              height: 71px;
            }
            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }
}
