container_commands:
  01_symlink:
    command: ln -s /efs/public /var/app/staging/public/upload
  02_second_symlink:
    command: ln -s /efs/tokens /var/app/staging/tokens
  03_images_symlink:
    command: ln -s /efs/images/ /var/app/staging/public/images
  03_set_token_permissions:
    command: chmod 666 /var/app/staging/tokens/facebook_token.txt