option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION : false
    PORT : 8888
    DB_HOST : aa1hs4jcmye9rd8.cqeagfeqxut6.us-east-1.rds.amazonaws.com
    DB_USER : admin
    DB_PASSWORD : password
    DB_NAME : br
    DB_PORT : 3306
    CORS : https://basementremodeling.com
    JWTOKEN: 1g2b-3c4d-5j6f-7s8h