.offersContent.homeSection {
    background: $gradient2;
    .headerWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .textBlock {
        font-size: 12px;
        @include minWidth(1000) {
            font-size: 15px;
        }
    }
    .formHint {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 125%;
        color: $raven;
        @include minWidth(480) {
            margin-top: 10px;
        }
        @include minWidth(1000) {
            font-size: 15px;
        }
    }
}