header {
    @extend %animation;
    z-index: 11;
    position: fixed;
    width: 100%;
    height: 66px;
    background-color: $main;
    // border-bottom: 1px solid $main;
    top: 0px;

    @media (min-width: 1000px) {
        height: 166px;
    }
    @media (min-width: 480px) and (max-width: 1000px) {
        height: 106px;
    }

    .wrapper {
        @include minWidth(1000) {
            position: static;
            margin-top: 60px;
            padding: 0;
            height: 106px;
            width: 1344px;
        }
    }

    .headerLogoLink {
        margin-right: auto;
        .headerLogo {
            margin-top: -7px;
            width: 93px;
            height: 30px;
            @include minWidth(480) {
                margin-top: 0;
                width: 169px;
                height: 54px;
            }
        }
    }

    .headerMenu {
        @extend %animation;
        position: fixed;
        top: 67px;
        right: -210px;
        height: 100vh;
        width: 210px;
        background: $main;
        // @include minWidth(480) {
        //     top: 97px;
        // }
        @include minWidth(1000) {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            position: static;
            top: auto;
            right: auto;
            height: auto;
            width: auto;
            background: transparent;
        }
        .topSection {
            @include minWidth(1000) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 60px;
                background-color: #374144;
            }
            .topWrapper {
                @include minWidth(1000) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 auto;
                    width: 894px;
                    height: inherit;
                }
                @include minWidth(1440) {
                    width: 1344px;
                }
            }
        }
    }

    &.activeMenu .headerMenu {
        @extend %responseMenu;
        @include minWidth(768) {
            &:before {
                display: none;
            }
        }
    }

    .menuList {
        padding-left: 0;
        list-style-type: none;
        .menuLinkWrapper {
            @extend %animation;
            height: 30px;
            padding-left: 57px;
            overflow: hidden;
            margin-top: 13px;
            @include minWidth(1000) {
                &:hover {
                    .menuLink {
                        color: $blue;
                    }
                    .subMenuList .menuLink {
                        color: $grey;
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
            &.activeDropdownLink {
                height: auto;
                .menuLink {
                    &:after {
                        transform: scale(0.8) rotate(270deg);
                        @include minWidth(1000) {
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            @include minWidth(1000) {
                &:hover {
                    & .subMenuList {
                        opacity: 1;
                        z-index: 10;
                        margin-top: 0;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
            }
        }
        .menuLink {
            display: flex;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
            box-sizing: border-box;
            letter-spacing: .05em;
            height: 30px;
            font-size: 14px;
            font-weight: 700;
            color: $white;
            cursor: pointer;
            @extend %animation;
            &.activeLink {
                color: $blue;
                cursor: default;
                @include minWidth(1000) {
                    color: $white;
                }
                &:hover {
                    color: $blue;
                }
            }
            &:hover {
                background: darken($main, 5%)
            }
            @include minWidth(1000) {
                // margin-left: 15px;
                padding-left: 0;
                padding-right: 0;
                height: auto;
                overflow: hidden;
                &:hover {
                    background: none;
                }
            }
            &:hover {
                color: $blue;
            }
        }
        .dropdownMenuLink {
            &:after {
                @extend %buttonIconAfter;
                @extend %arrowIcon;
                @extend %animation;
                transform: scale(0.8) rotate(90deg);
                background: $white;
                @include minWidth(1000) {
                    display: none;
                }
            }
            &:hover {
                color: $white;
                background: transparent;
            }
        }
    }

    .mainMenuList {
        @extend %animation;
        @include minWidth(1000) {
            display: flex;
            margin-top: 12px;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            position: static;
            top: auto;
            right: auto;
            width: auto;
            height: auto;
            background: transparent;
        }
    }

    &.activeMenu .mainMenuList {
        @extend %responseMenu;
        &:before {
            display: none;
        }
        @include minWidth(768) {
            &:before {
                display: block;
            }
        }
        @include minWidth(1000) {
            &:before {
                display: none;
            }
        }
    }

    .subMenuList {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        .menuLink {
            padding-left: 40px;
            color: $grey;
            white-space: nowrap;
            &:hover {
                color: $blue;
            }
        }
        @include minWidth(1000) {
            opacity: 0;
            z-index: -10;
            margin-top: 50px;
            visibility: hidden;
            position: absolute;
            transform: translateY(10px);
            padding-top: 10px;
            padding-bottom: 10px;
            background: $white;
            border-radius: 5px;
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
            transition: all 0.15s ease-in;
            pointer-events: none;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -4px;
                left: 20px;
                width: 10px;
                height: 10px;
                background: $white;
                transform: rotate(45deg);
            }
            .menuLinkWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                .menuLink {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: 30px;
                    margin-right: 0;
                    padding-left: 20px;
                    padding-right: 40px;
                    &:hover {
                        background: $menuHover;
                        @include minWidth(1000) {
                            color: $blue;
                        }
                    }
                }
                .activeLink {
                    color: $blue;
                    border-bottom: none;
                    cursor: default;
                    &:hover {
                        background: transparent;
                    }
                    &:after {
                        content: "";
                        opacity: 1;
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 7px;
                        height: 7px;
                        display: block;
                        border-radius: 50%;
                        background: $blue;
                        transition: all 0.15s ease-in;
                    }
                }
            }
        }
    }

    .menuPhones {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding: 0 20px;
        @include minWidth(1000) {
            flex-direction: row;
            margin-top: 0;
            padding: 0;
        }
        @include minWidth(1440) {
            display: flex;
        }
        .phoneWrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 15px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include minWidth(1000) {
                margin-bottom: 0;
                margin-left: 10px;
                &:first-of-type {
                    margin-left: 0;
                }
            }
            @include minWidth(1440) {
                margin-left: 20px;
            }
            .stateLabel {
                display: flex;
                flex-direction: row;
                width: 40px;
                &.local{
                    width: fit-content;
                }
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $white;
                &:before {
                    @extend %phoneIcon;
                    content: "";
                    margin-top: -2px;
                    margin-right: 5px;
                    background-color: $blue;
                    @include minWidth(480) {
                        margin-top: 0;
                    }
                }
            }
            .statePhones {
                display: flex;
                flex-direction: column;
                margin-left: 5px;
                margin-right: 20px;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $blue;
                @include minWidth(1000) {
                    flex-direction: row;
                }
                .menuPhone {
                    @extend %animation;
                    margin-bottom: 5px;
                    color: $white;
                    &:hover {
                        color: $blue;
                    }
                    @include minWidth(1000) {
                        margin-bottom: 0;
                        &:not(:first-of-type) {
                            &:before {
                                content: "/";
                                color: $white;
                                margin: 0 5px;
                            }
                            @include minWidth(1000) {
                                display: none;
                            }
                            @include minWidth(1440) {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .serviceLinks {
        display: flex;
        flex-direction: column;
        margin: 40px auto 0;
        padding: 0 20px;
        box-sizing: border-box;
        @include minWidth(1000) {
            flex-direction: row;
            align-items: center;
            display: flex;
            margin: 0 0 0 auto;
            padding: 0;
        }
        .scheduleWrapper {
            font-size: 13px;
            line-height: 125%;
            margin-bottom: 15px;
            @include minWidth(1000) {
                // margin-right: 10px;
                margin-bottom: 0;
                @include minWidth(1440) {
                    // margin-right: 15px;
                }
            }
        }
        .serviceLink {
            @extend %animation;
            font-size: 13px;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: 0.05em;
            border: 1px solid $yellow;
            margin-left: 40px;
            border-radius: 100px;
            padding: 12px 20px;
            @include minWidth(1000) {
                margin-bottom: 0;
            }
            @include maxWidth(1440) {
                letter-spacing: 0;
                margin-left: 10px;
            }
            
            &.consultationButton {
                width: 244px;
                color: $yellow;
                background: transparent;
                &:hover {
                    color: $white;
                    cursor: pointer;
                }
                @include maxWidth(1000) {
                    width: 100%;
                    margin-top: 10px;
                }
   
            }
            &.quoteLink {
                color: $blue;
                width: 264px;
                background: transparent;
                border: none;
                border: 1px solid $blue;
                border-radius: 100px;
                padding: 12px 20px;
                &:hover {
                    color: $white;
                }
                @include maxWidth(1000) {
                    width: 100%;
                }
            }
            .nowrap {
                white-space: nowrap;
            }
        }
    }

    .socialButtons {
        display: flex;
        flex-direction: row;
        margin: 15px 20px 0;
        @include minWidth(1000) {
            display: none;
        }
        .socialButton {
            margin-right: 10px;
            width: 27px;
            height: 27px;
            font-size: 0;
            border: 1px solid $sub;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
            outline: none;
            &:hover {
                opacity: 0.75;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &.instagramButton {
                background-image: url("/public/images/vector/instagram-icon.svg");
                background-size: 13px 13px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            &.facebookButton {
                background-image: url("/public/images/vector/facebook-icon.svg");
                background-size: 7px 12px;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    .mainPhone {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        line-height: 125%;
        color: $white;
        &:before {
            @extend %phoneIcon;
            content: "";
            margin-right: 5px;
            background-color: $blue;
        }
        @include minWidth(1000) {
            display: none;
        }
    }
    .headerLoginWrapper {
        margin: 0 0 0 15px;
        position: relative;
        .headerLoginButton {
            @extend %animation;
            @extend %font;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            margin: 0;
            padding: 0;
            height: 40px;
            font-size: 0;
            width: 100%;
            font-weight: 700;
            line-height: 125%;
            color: $white;
            text-transform: uppercase;
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: none;
            text-align: left;
            &:hover {
                color: $yellow;
                .avatarPicture {
                    border-color: $yellow;
                }
            }
            @include minWidth(1440) {
                font-size: 13px;
            }
            .avatarPicture {
                @extend %animation;
                width: 21px;
                height: 21px;
                border: 1px solid $white;
                border-radius: 50%;
                @include minWidth(480) {
                    width: 27px;
                    height: 27px;
                }
                @include minWidth(1440) {
                    margin-right: 10px;
                    width: 32px;
                    height: 32px;
                    border: 2px solid $white;
                }
            }
            .avatarIcon {
                width: 21px;
                height: 21px;
                background-image: url("/public/docs/sign-user.png");
                background-size: 21px 21px;
                background-repeat: no-repeat;
                @include minWidth(480) {
                    width: 27px;
                    height: 27px;
                    background-size: 27px 27px;
                }
                @include minWidth(1440) {
                    margin-right: 10px;
                    width: 32px;
                    height: 32px;
                    background-size: 32px 32px;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .headerLoginButton:hover .avatarWrapper {
            z-index: 1;
            margin-top: 0;
            opacity: 1;
            visibility: visible;
        }
        .avatarWrapper {
            @extend %shadow;
            @extend %animation;
            opacity: 0;
            z-index: -10;
            margin-top: 50px;
            margin-bottom: 0;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            padding: 6px 0;
            list-style-type: none;
            background-color: $white;
            border-radius: 5px;
            pointer-events: auto;
            visibility: hidden;
            @include minWidth(480) {
                top: 45px;
                padding: 10px 0;
            }
            @include minWidth(1440) {
                left: auto;
                right: 0;
                transform: none;
                top: 37px;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -3px;
                left: 50%;
                width: 6px;
                height: 6px;
                background: #fff;
                transform: translateX(-50%) rotate(45deg);
                @include minWidth(480) {
                    top: -4px;
                    width: 10px;
                    height: 10px;
                }
                @include minWidth(1440) {
                    left: auto;
                    right: 10px;
                }
            }
            .avatarLinkWrapper {
                @extend %animation;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                @include minWidth(480) {
                    height: 30px;
                }
                .avatarLink {
                    @extend %animation;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    height: inherit;
                    font-size: 12px;
                    font-weight: 700;
                    white-space: nowrap;
                    color: $grey;
                    @include minWidth(480) {
                        font-size: 13px;
                        padding: 0 20px;
                    }
                }
                &:hover {
                    background-color: $menuHover;
                    .avatarLink {
                        color: $blue;
                    }
                }
            }
        }
    }
    .userLogin {
        @extend %animation;
        @extend %font;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;  // Align content to the left for larger screens
        position: relative;
        margin: 13px 0 0 33px;
        padding-inline: 85px;
        width: 261px;
        height: 42px;
        font-weight: 700;
        line-height: 125%;
        font-size: 0;
        color: $black;
        text-transform: uppercase;
        border: none;
        background-color: $yellow;
        border-radius: 100px;
        cursor: pointer;
        outline: none;
        text-align: left;
    
        @include minWidth(1440) {
            font-size: 13px;
        }
    
        // Default styling for larger screens
        &:before {
            @extend %animation;
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("/public/docs/sign-user.png");
            background-size: 20px 20px;
            background-repeat: no-repeat;
            margin-right: 10px; // Space between icon and text
        }
    
        &:hover {
            color: $white !important;
            &:before {
                opacity: 0.75;
            }
        }
    
        // Mobile Styling (When screen width is <= 480px or similar)
        @include minWidth(480) {
            width: 35px;   // Set width and height for the circle button
            height: 35px;
            padding-inline: 0; // Remove horizontal padding
            border-radius: 50%;  // Make the button circular
            font-size: 0;  // Remove text
            text-align: center; // Center the icon
            background-color: $yellow; // Keep background color
            justify-content: center;  // Center content horizontally on mobile
            margin: 0;

    
            &:before {
                width: 20px;  // Increase icon size to fill the button
                height: 20px;
                background-size: 20px 20px; // Ensure icon size matches button size
                margin: 0;  // Remove any margins
                // No need for positioning here; justify-content: center will handle it
            }
    
            &:hover {
                color: $white;  // Optional: Hide the text color on hover
                &:before {
                    opacity: 0.75;  // Keep the hover effect for the icon
                }
            }
        }

        @include maxWidth(480) {
            min-width: 32px;   // Set width and height for the circle button
            width: 32px;
            height: 32px;
            padding-inline: 0; // Remove horizontal padding
            border-radius: 50%;  // Make the button circular
            font-size: 0;  // Remove text
            text-align: center; // Center the icon
            background-color: $yellow; // Keep background color
            justify-content: center;  // Center content horizontally on mobile
            margin: 0;

    
            &:before {
                width: 20px;  // Increase icon size to fill the button
                height: 20px;
                background-size: 20px 20px; // Ensure icon size matches button size
                margin: 0;  // Remove any margins
                // No need for positioning here; justify-content: center will handle it
            }
    
            &:hover {
                color: $white;  // Optional: Hide the text color on hover
                &:before {
                    opacity: 0.75;  // Keep the hover effect for the icon
                }
            }
        }
    
        // Large Screen (Font size adjustments)
        @include minWidth(1440) {
            width: 261px;  // Restore original width for large screens
            height: 42px;
            font-size: 13px;
            padding-inline: 85px;
            text-align: left;
            border-radius: 100px; // Keep original border radius for large screens
    
            &:hover {
                color: $white;
            }

            &:before {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                background-size: 20px 20px; // Icon size for larger screens
            }
        }
    }
    
    
    .headerSandwichButton {
        position: relative;
        // margin-left: 15px;
        min-width: 32px;
        width: 35px;
        height: 35px;
        font-size: 0;
        border: 1px solid $white;
        border-radius: 50%;
        background: transparent;
        outline: none;
        cursor: pointer;
        &:before {
            content: "";  
            position: absolute;
            top: 10px;
            left: 50%;
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            box-shadow: 0 7px 0 0 #fff,0 14px 0 0 #fff;
            transform: translate(-50%, -50%);
            @extend %animation;
        }
        &:after {
            content: "";  
            position: absolute;
            top: 10px;
            left: 50%;
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            box-shadow: 0 7px 0 0 #fff,0 14px 0 0 #fff;
            transform: translate(-50%, -50%);
            @extend %animation;
        }
        @include minWidth(1000) {
            display: none;
        }
        @media (max-width: 480px) {
            min-height: 32px;
            height: 32px;
            width: 32px;
        
            &:before {
                width: 17px;
                top: 9px;
                box-shadow: 0 6px 0 0 #fff,0 12px 0 0 #fff;
            }
            &:after {
                width: 17px;
                top: 9px;
                box-shadow: 0 6px 0 0 #fff,0 12px 0 0 #fff;
            }
        }
        @media (min-width: 480px) {
            min-height: 35px;
            height: 35px;
            min-width: 35px;
            width: 35px;
            
        }
    }

    &.transparentMenu {
        // background-color: transparent;
        // border-bottom: 1px solid $grey;
    }

    &.activeMenu {
        // border-bottom: 1px solid $grey;
    }

    &.activeMenu .headerSandwichButton {
        @include maxWidth(480){
            &:before {
                box-shadow: none;
                transform: translate(-7px, 5px) rotate(45deg);
            }
            &:after {
                box-shadow: none;
                transform: translate(-8px, 5px) rotate(-45deg);
            }
        }
        @include minWidth(480){
            &:before {
                box-shadow: none;
                transform: translate(-10px, 5px) rotate(45deg);
            }
            &:after {
                box-shadow: none;
                transform: translate(-11px, 5px) rotate(-45deg);
            }
        }
    }

}